ServiciosWebSIOT/ServiciosWebSIOT-ejb/src/conf/wsdl/127.0.0.1_8080/ServiciosWeb-SIOT-war/ServiciosCitasCompPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://comparendos.servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://comparendos.servicios/" name="ServiciosCitasCompService">
<wsp:Policy xmlns:sunwsp="http://java.sun.com/xml/ns/wsit/policy" xmlns:ssp="http://schemas.sun.com/2006/03/wss/server" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="ServiciosCitasCompPortBindingPolicy">
<sp:SignedEncryptedSupportingTokens>
<wsp:Policy>
<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:WssUsernameToken10/>
</wsp:Policy>
</sp:UsernameToken>
</wsp:Policy>
</sp:SignedEncryptedSupportingTokens>
<sp:SymmetricBinding>
<wsp:Policy>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp/>
<sp:Layout>
<wsp:Policy>
<sp:Strict/>
</wsp:Policy>
</sp:Layout>
<sp:OnlySignEntireHeadersAndBody/>
<sp:ProtectionToken>
<wsp:Policy>
<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
<wsp:Policy>
<sp:RequireIssuerSerialReference/>
<sp:WssX509V3Token10/>
</wsp:Policy>
</sp:X509Token>
</wsp:Policy>
</sp:ProtectionToken>
</wsp:Policy>
</sp:SymmetricBinding>
<sp:Wss11>
<wsp:Policy>
<sp:MustSupportRefEncryptedKey/>
<sp:MustSupportRefIssuerSerial/>
<sp:MustSupportRefThumbprint/>
</wsp:Policy>
</sp:Wss11>

<wsam:Addressing/>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="ServiciosCitasCompPortBinding_crearObjetos_Input_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="FaultTo"/>
<sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
</sp:SignedParts>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="ServiciosCitasCompPortBinding_crearObjetos_Output_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="FaultTo"/>
<sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
</sp:SignedParts>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://comparendos.servicios/" schemaLocation="http://127.0.0.1:8080/ServiciosWeb-SIOT-war/ServiciosCitasCompPort?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarCita">
<part name="parameters" element="tns:insertarCita"/>
</message>
<message name="insertarCitaResponse">
<part name="parameters" element="tns:insertarCitaResponse"/>
</message>
<message name="terminarCita">
<part name="parameters" element="tns:terminarCita"/>
</message>
<message name="terminarCitaResponse">
<part name="parameters" element="tns:terminarCitaResponse"/>
</message>
<message name="anularCita">
<part name="parameters" element="tns:anularCita"/>
</message>
<message name="anularCitaResponse">
<part name="parameters" element="tns:anularCitaResponse"/>
</message>
<message name="buscarCita">
<part name="parameters" element="tns:buscarCita"/>
</message>
<message name="buscarCitaResponse">
<part name="parameters" element="tns:buscarCitaResponse"/>
</message>
<message name="insertarDetCita">
<part name="parameters" element="tns:insertarDetCita"/>
</message>
<message name="insertarDetCitaResponse">
<part name="parameters" element="tns:insertarDetCitaResponse"/>
</message>
<message name="buscarDetCita">
<part name="parameters" element="tns:buscarDetCita"/>
</message>
<message name="buscarDetCitaResponse">
<part name="parameters" element="tns:buscarDetCitaResponse"/>
</message>
<message name="eliminarDetCita">
<part name="parameters" element="tns:eliminarDetCita"/>
</message>
<message name="eliminarDetCitaResponse">
<part name="parameters" element="tns:eliminarDetCitaResponse"/>
</message>
<message name="buscarTramitePorDependencia">
<part name="parameters" element="tns:buscarTramitePorDependencia"/>
</message>
<message name="buscarTramitePorDependenciaResponse">
<part name="parameters" element="tns:buscarTramitePorDependenciaResponse"/>
</message>
<message name="insertarTramiteDependencia">
<part name="parameters" element="tns:insertarTramiteDependencia"/>
</message>
<message name="insertarTramiteDependenciaResponse">
<part name="parameters" element="tns:insertarTramiteDependenciaResponse"/>
</message>
<message name="eliminarTramiteDependencia">
<part name="parameters" element="tns:eliminarTramiteDependencia"/>
</message>
<message name="eliminarTramiteDependenciaResponse">
<part name="parameters" element="tns:eliminarTramiteDependenciaResponse"/>
</message>
<message name="ponerObservacionCita">
<part name="parameters" element="tns:ponerObservacionCita"/>
</message>
<message name="ponerObservacionCitaResponse">
<part name="parameters" element="tns:ponerObservacionCitaResponse"/>
</message>
<message name="crearObjetos">
<part name="parameters" element="tns:crearObjetos"/>
</message>
<message name="crearObjetosResponse">
<part name="parameters" element="tns:crearObjetosResponse"/>
</message>
<portType name="ServiciosCitasComp">
<operation name="insertarCita">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/insertarCitaRequest" message="tns:insertarCita"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/insertarCitaResponse" message="tns:insertarCitaResponse"/>
</operation>
<operation name="terminarCita">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/terminarCitaRequest" message="tns:terminarCita"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/terminarCitaResponse" message="tns:terminarCitaResponse"/>
</operation>
<operation name="anularCita">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/anularCitaRequest" message="tns:anularCita"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/anularCitaResponse" message="tns:anularCitaResponse"/>
</operation>
<operation name="buscarCita">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/buscarCitaRequest" message="tns:buscarCita"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/buscarCitaResponse" message="tns:buscarCitaResponse"/>
</operation>
<operation name="insertarDetCita">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/insertarDetCitaRequest" message="tns:insertarDetCita"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/insertarDetCitaResponse" message="tns:insertarDetCitaResponse"/>
</operation>
<operation name="buscarDetCita">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/buscarDetCitaRequest" message="tns:buscarDetCita"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/buscarDetCitaResponse" message="tns:buscarDetCitaResponse"/>
</operation>
<operation name="eliminarDetCita">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/eliminarDetCitaRequest" message="tns:eliminarDetCita"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/eliminarDetCitaResponse" message="tns:eliminarDetCitaResponse"/>
</operation>
<operation name="buscarTramitePorDependencia">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/buscarTramitePorDependenciaRequest" message="tns:buscarTramitePorDependencia"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/buscarTramitePorDependenciaResponse" message="tns:buscarTramitePorDependenciaResponse"/>
</operation>
<operation name="insertarTramiteDependencia">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/insertarTramiteDependenciaRequest" message="tns:insertarTramiteDependencia"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/insertarTramiteDependenciaResponse" message="tns:insertarTramiteDependenciaResponse"/>
</operation>
<operation name="eliminarTramiteDependencia">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/eliminarTramiteDependenciaRequest" message="tns:eliminarTramiteDependencia"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/eliminarTramiteDependenciaResponse" message="tns:eliminarTramiteDependenciaResponse"/>
</operation>
<operation name="ponerObservacionCita">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/ponerObservacionCitaRequest" message="tns:ponerObservacionCita"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/ponerObservacionCitaResponse" message="tns:ponerObservacionCitaResponse"/>
</operation>
<operation name="crearObjetos">
<input wsam:Action="http://comparendos.servicios/ServiciosCitasComp/crearObjetosRequest" message="tns:crearObjetos"/>
<output wsam:Action="http://comparendos.servicios/ServiciosCitasComp/crearObjetosResponse" message="tns:crearObjetosResponse"/>
</operation>
</portType>
<binding name="ServiciosCitasCompPortBinding" type="tns:ServiciosCitasComp">
<wsp:PolicyReference URI="#ServiciosCitasCompPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarCita">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="terminarCita">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="anularCita">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCita">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarDetCita">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarDetCita">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarDetCita">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTramitePorDependencia">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarTramiteDependencia">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarTramiteDependencia">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ponerObservacionCita">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearObjetos">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ServiciosCitasCompPortBinding_crearObjetos_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosCitasCompService">
<port name="ServiciosCitasCompPort" binding="tns:ServiciosCitasCompPortBinding">
<soap:address location="http://127.0.0.1:8080/ServiciosWeb-SIOT-war/ServiciosCitasCompPort"/>
</port>
</service>
</definitions>