ServiciosWebSIOT/ServiciosWebSIOT-ejb/src/conf/wsdl/127.0.0.1_8080/ServiciosWeb-SIOT-war/ServiciosPersonasPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://generales.servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://generales.servicios/" name="ServiciosPersonasService">
<types>
<xsd:schema>
<xsd:import namespace="http://generales.servicios/" schemaLocation="http://127.0.0.1:8080/ServiciosWeb-SIOT-war/ServiciosPersonasPort?xsd=1"/>
</xsd:schema>
</types>
<message name="validarExistenciaPersonaLlavePrimaria">
<part name="parameters" element="tns:validarExistenciaPersonaLlavePrimaria"/>
</message>
<message name="validarExistenciaPersonaLlavePrimariaResponse">
<part name="parameters" element="tns:validarExistenciaPersonaLlavePrimariaResponse"/>
</message>
<message name="crearObjetos">
<part name="parameters" element="tns:crearObjetos"/>
</message>
<message name="getPersonasIdentificacion">
<part name="parameters" element="tns:getPersonasIdentificacion"/>
</message>
<message name="getPersonasIdentificacionResponse">
<part name="parameters" element="tns:getPersonasIdentificacionResponse"/>
</message>
<message name="getLoadAllPersonas">
<part name="parameters" element="tns:getLoadAllPersonas"/>
</message>
<message name="getLoadAllPersonasResponse">
<part name="parameters" element="tns:getLoadAllPersonasResponse"/>
</message>
<message name="validarExistenciaPersona">
<part name="parameters" element="tns:validarExistenciaPersona"/>
</message>
<message name="validarExistenciaPersonaResponse">
<part name="parameters" element="tns:validarExistenciaPersonaResponse"/>
</message>
<message name="getPersonasNombres">
<part name="parameters" element="tns:getPersonasNombres"/>
</message>
<message name="getPersonasNombresResponse">
<part name="parameters" element="tns:getPersonasNombresResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="editarPersona">
<part name="parameters" element="tns:editarPersona"/>
</message>
<message name="editarPersonaResponse">
<part name="parameters" element="tns:editarPersonaResponse"/>
</message>
<message name="getPersonas">
<part name="parameters" element="tns:getPersonas"/>
</message>
<message name="getPersonasResponse">
<part name="parameters" element="tns:getPersonasResponse"/>
</message>
<message name="crearImagenes">
<part name="parameters" element="tns:crearImagenes"/>
</message>
<message name="crearImagenesResponse">
<part name="parameters" element="tns:crearImagenesResponse"/>
</message>
<message name="crearPersona">
<part name="parameters" element="tns:crearPersona"/>
</message>
<message name="crearPersonaResponse">
<part name="parameters" element="tns:crearPersonaResponse"/>
</message>
<message name="getDireccion">
<part name="parameters" element="tns:getDireccion"/>
</message>
<message name="getDireccionResponse">
<part name="parameters" element="tns:getDireccionResponse"/>
</message>
<message name="getPersona">
<part name="parameters" element="tns:getPersona"/>
</message>
<message name="getPersonaResponse">
<part name="parameters" element="tns:getPersonaResponse"/>
</message>
<portType name="ServiciosPersonas">
<operation name="validarExistenciaPersonaLlavePrimaria">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/validarExistenciaPersonaLlavePrimariaRequest" message="tns:validarExistenciaPersonaLlavePrimaria"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/validarExistenciaPersonaLlavePrimariaResponse" message="tns:validarExistenciaPersonaLlavePrimariaResponse"/>
</operation>
<operation name="crearObjetos">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/crearObjetos" message="tns:crearObjetos"/>
</operation>
<operation name="getPersonasIdentificacion">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonasIdentificacionRequest" message="tns:getPersonasIdentificacion"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonasIdentificacionResponse" message="tns:getPersonasIdentificacionResponse"/>
</operation>
<operation name="getLoadAllPersonas">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/getLoadAllPersonasRequest" message="tns:getLoadAllPersonas"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/getLoadAllPersonasResponse" message="tns:getLoadAllPersonasResponse"/>
</operation>
<operation name="validarExistenciaPersona">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/validarExistenciaPersonaRequest" message="tns:validarExistenciaPersona"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/validarExistenciaPersonaResponse" message="tns:validarExistenciaPersonaResponse"/>
</operation>
<operation name="getPersonasNombres">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonasNombresRequest" message="tns:getPersonasNombres"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonasNombresResponse" message="tns:getPersonasNombresResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonasNombres/Fault/Exception"/>
</operation>
<operation name="editarPersona">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/editarPersonaRequest" message="tns:editarPersona"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/editarPersonaResponse" message="tns:editarPersonaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://generales.servicios/ServiciosPersonas/editarPersona/Fault/Exception"/>
</operation>
<operation name="getPersonas">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonasRequest" message="tns:getPersonas"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonasResponse" message="tns:getPersonasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonas/Fault/Exception"/>
</operation>
<operation name="crearImagenes">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/crearImagenesRequest" message="tns:crearImagenes"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/crearImagenesResponse" message="tns:crearImagenesResponse"/>
</operation>
<operation name="crearPersona">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/crearPersonaRequest" message="tns:crearPersona"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/crearPersonaResponse" message="tns:crearPersonaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://generales.servicios/ServiciosPersonas/crearPersona/Fault/Exception"/>
</operation>
<operation name="getDireccion">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/getDireccionRequest" message="tns:getDireccion"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/getDireccionResponse" message="tns:getDireccionResponse"/>
</operation>
<operation name="getPersona">
<input wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonaRequest" message="tns:getPersona"/>
<output wsam:Action="http://generales.servicios/ServiciosPersonas/getPersonaResponse" message="tns:getPersonaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://generales.servicios/ServiciosPersonas/getPersona/Fault/Exception"/>
</operation>
</portType>
<binding name="ServiciosPersonasPortBinding" type="tns:ServiciosPersonas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarExistenciaPersonaLlavePrimaria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearObjetos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getPersonasIdentificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoadAllPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarExistenciaPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersonasNombres">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="crearImagenes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServiciosPersonasService">
<port name="ServiciosPersonasPort" binding="tns:ServiciosPersonasPortBinding">
<soap:address location="http://127.0.0.1:8080/ServiciosWeb-SIOT-war/ServiciosPersonasPort"/>
</port>
</service>
</definitions>